@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="carousel slide" id="hero-carousel" data-bs-ride="carousel">
    <!--Imagenes-->
    <div class="carousel-inner">
        <div class="carousel-item active img-item">
            <img src="~/assets/images/portada-1.jpg" class="d-block w-100 c-img" alt="laptop-1">

        </div>
        <div class="carousel-item img-item">
            <img src="~/assets/images/portada-2.jpg" class="d-block w-100 c-img" alt="laptop-2">
        </div>
        <div class="carousel-item img-item">
            <img src="~/assets/images/portada-3.jpg" class="d-block w-100 c-img" alt="laptop-3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <div class="titulo-sobre-nosotros">
        <h1 class="texto-about fw-bolder text-capitalize">SOBRE NOSOTROS</h1>
    </div>
    
</div>



<section class="seccion-sobre-nosotros py-4">
    <div class="container">
        <div class="row">
            <!-- Desarrollo web -->
            <div class="columna col-12 col-md-6 mt-5">
                <h3 class="title-big">Acerca de <span>Nosotros</span></h3>
                <p>Somos un grupo de personas amantes de la tecnología que busca brindar soluciones en equipos de computación de última tecnología, Contamos con todo tipo de
                    computadores, de las marcas más reconocidas en el mercado, También ofrecemos soluciones de mantenimiento y actualización de software. 
                    Esperamos ser la tienda online de equipos de computadoras más confiable y accesible de Bolivia ofreciendo soluciones 
                    de manera eficiente y de garantia.</p>
                <p>
                    Tienda Online en su compromiso de ofrecer un servicio de calidad para todos nuestros clientes hemos nuestra tienda online para que el servicio 
                    de atención al cliente sea más rápido y así ofrecer una buena experiencia al usuario. Contamos con sucursales en varias ciudades de Bolivia, además damos soporte técnico.
                </p>


            </div>

            <div class="columna col-12 col-md-6  d-flex justify-content-center align-items-center">
                <img class="img-sobre-nosotros" src="~/assets/images/sobre-nosotros.jpg"/>
            </div>
        </div>

        

    </div>
    
</section>

<section class="seccion-video" id="work">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="assets/images/about.jpg" alt="" class="img-fluid">
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe width="450" height="300" src="https://www.youtube.com/embed/nHaySNOP0Fs" title="Staying Power - ASUS TUF Gaming F15 | ASUS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                    <h3 class="title-big">Business Video <span>Showcase</span></h3>
                    <p class="mt-md-4 mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. init el set koren, Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Non quae, fugiat consequatur volup tatem ad et. We focus on the needs of every small to middle
                        market businesses to improve and grow their return.
                    </p>
                    <a href="#download" class="btn btn-style btn-primary mt-md-5 mt-4">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Seccion nuestro equipo-->
<section class="w3l-team-main" id="team">
	<div class="team py-5">
		<div class="container py-lg-5 py-md-4 py-2">
			<div class="heading text-center mx-auto">
				<h3 class="title-big">Our Team <span>Members</span></h3>
			</div>
			<div class="row team-row pt-lg-3 mt-md-5 mt-4">
				<div class="col-lg-3 col-6 team-wrap">
					<div class="team-info text-center">
						<div class="column position-relative">
							<a href="#url"><img src="~/assets/images/team1.jpg" alt="" class="img-fluid team-image"></a>
						</div>
						<div class="column">

							<h3 class="name-pos"><a href="#url">Micheal Wagou</a></h3>
							<p>Gerente propietario</p>
						</div>
					</div>
				</div>
				<!-- end team member -->

				<div class="col-lg-3 col-6 team-wrap">

					<div class="team-info text-center">
						<div class="column position-relative">
							<a href="#url"><img src="~/assets/images/team2.jpg" alt="" class="img-fluid team-image"></a>
						</div>
						<div class="column">

							<h3 class="name-pos"><a href="#url">Alex Mitchell</a></h3>
							<p>Manager</p>
						</div>
					</div>
				</div>
				<!-- end team member -->

				<div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
					<div class="team-info text-center">
						<div class="column position-relative">
							<a href="#url"><img src="~/assets/images/team3.jpg" alt="" class="img-fluid team-image"></a>
						</div>
						<div class="column">

							<h3 class="name-pos"><a href="#url">Scott Colon</a></h3>
							<p>Supervisor</p>
						</div>
					</div>

				</div>
				<!-- end team member -->
				<!-- end team member -->

				<div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
					<div class="team-info text-center">
						<div class="column position-relative">
							<a href="#url"><img src="~/assets/images/team4.jpg" alt="" class="img-fluid team-image"></a>
						</div>
						<div class="column">

							<h3 class="name-pos"><a href="#url">John Harris</a></h3>
							<p>Consultant</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Seccion linea de tiempo-->
<section class="w3l-timeline-1 py-5" id="profile">
    <div class="container py-lg-5 py-md-4 py-3">
        <h3 class="title-big mb-md-5 mb-4 text-center">Company <span>Profile</span></h3>
        <div class="row example-centered">
            <div class="col-sm-10 mx-auto">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>Nov 1, 2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title"> Turning Your Site Into a Sales Machine. Are u ready?</h3>
                            <p>
                                Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectet uer eget,
                                posuere ut, mauris. Donec ut, nulla vitae sapiens.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>Nov 2, 2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Clean Style. Cons and Pros.</h3>
                            <p>Nullam vel sem. Nullam vel sem. ante arcu, uer eget ut, mauris. Donec ut, nulla vitae sapiens.</p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <span>Nov 3, 2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Creating Wealth Through Profits & Growth</h3>
                            <p>Nullam vel sem. Nullam vel sem. ante arcu, uer eget ut, mauris. Donec ut, nulla vitae sapiens.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>